
<div class="row text-center">
<h2>Editing <a href='/chickens/<%= @chicken.id %>'><%= @chicken.name %>:</a></h2>

  <%= bootstrap_form_for @chicken do |f| %>

    <%= f.text_field :name, :placeholder => "Chicken Name" %>

    <%= f.text_field :breed, :placeholder => "Breed" %>

    <%= f.text_field :desc, :placeholder => "Brief Description" %>

    <%= f.text_field :tag_ids, 'value' => @tags.map{|tag| tag.name }.join(","), 'data-role'=>'tagsinput' %>

    <h3><%= f.submit "Save changes", class: "btn btn-primary" %></h3>

<% end %>
</div>