<div class="row text-center">
<h2>Add a new chicken!</h2>

<%= bootstrap_form_for @chicken do |f| %>

    <%= f.text_field :name, :placeholder => "Chicken Name" %>

    <%= f.text_field :breed, :placeholder => "Breed" %>

    <%= f.text_field :desc, :placeholder => "Brief Description" %>

    <%= f.text_field :tag_ids, 'data-role'=>'tagsinput' %>

    <%= f.submit "Create New Chicken", class: "btn btn-primary" %></h3>

<% end %>
</div>
