<!DOCTYPE html><!DOCTYPE html>
<html>
<head>
  <title>Chicken Finder</title>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Coustard:900|Fjalla+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="container">
<a href='/'><div class="page-header text-center">
  <h1>Backyard Chickens <br>
  <small>A community of urban farmers.</small></h1>
</div></a>

<% if @current_user %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="http://i.imgur.com/eWGkpOi.png"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/users/<%= @current_user.id %>'><h3><%= @current_user.name %>'s Profile</h3></a><span class="sr-only">(current)</span></li>
        <li><a href="/about"><h3>About</h3><span class="sr-only"></span></a></li>
        <li><a href="/chickens"><h3>Browse Chickens</h3><span class="sr-only"></span></a></li>
        <li><a href="/chickens/new"><h3>Add a Chicken</h3></a></li>
        <li><a href="/logout"><h3>Logout</h3><span class="sr-only"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

<div class="container">
  <div class="footer">
  </div>
</div>
</div>
</body>
</html>

<% else %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="http://i.imgur.com/eWGkpOi.png"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><h3>Login</h3><span class="sr-only">(current)</span></a></li>
        <li><a href="/signup"><h3>Signup</h3><span class="sr-only">(current)</span></a></li>
        <li><a href="/chickens"><h3>Browse Chickens</h3><span class="sr-only">(current)</span></a></li>
              </ul>
    </div>
  </div>
</nav>

<%= yield %>

<div class="container">
  <div class="footer">
  </div>
</div>
</div>
</body>
</html>

<% end %>